body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    background: #f8f8f8;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.hero {
    background: url('back2.jpeg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero-content h2 {
    font-size: 2.5em;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #e67e22;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.products, .about, .contact {
    padding: 40px 20px;
    text-align: center;
}

.product-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    border: 1px solid #d7cbcb;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    background: gray;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    text-align: center;
}

footer p {
    margin: 0;
}